.btn {
	padding: @btn-padding-vertical @btn-padding-horizontal;
	margin: @btn-margin-vertical @btn-margin-horizontal;
	font-size: @font-size;
	background-color: @color-gray-semi-light;
	display: inline-block;
	color: white;
	border: solid 2px transparent;
	cursor: pointer;
}