/* Default grid layout */
.row {
	position: relative;
	max-width: @row-max-desktop;
	margin-right: auto;
	margin-left: auto;
	.clearfix;

	&.greedy {
		max-width:none;
	}

	.row {
		max-width: none;
		margin-right: -@grid-gutter-desktop / 2;
		margin-left: -@grid-gutter-desktop / 2;
	}

}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	position: relative;
	display:block;
	float:left;
	min-height: 1px;
	padding-right: @grid-gutter-desktop / 2;
	padding-left: @grid-gutter-desktop / 2;
	box-sizing: border-box;
}

.sequential-percentage-width(@grid-columns,col);