.navigation {
	.make-row();
	overflow: hidden;
	z-index: 1;
	max-height: 0px;
	padding-bottom: @layout-flow-vertical;

	&:after {
		position: absolute;
		padding-right: (@layout-flow-horizontal / 2);
		bottom: 0px;
		content: "\2026";
		color: @color-primary;
		text-align: right;
		font-size: @font-size-large;
		width: 100%;
		box-sizing:border-box;
		background-color: @color-navigation-bg;
	}
}

.navigation__item {
	.make-row-content();
	float: none;
	position: static;

	cursor: pointer;
	line-height: 1em;
	color: @color-primary;
	padding-top: @nav-item-padding-vertical;
	padding-bottom: @nav-item-padding-vertical;
	max-height: @nav-item-computed-height;

	&:hover {
		color: @color-primary-darker;
	}
}

.navigation__item--subnav {
	&:before {
		content: " ";
		border-top: solid 10px transparent;
		border-bottom: solid 10px transparent;
		border-left: solid 8px @color-primary;
		position: absolute;
		right: (@layout-flow-horizontal / 2);
		top: 50%;
		margin-top: ((@nav-item-computed-height - 20) / 2);
	}
	&:after {
		content: " ";
		border-top: solid 10px transparent;
		border-bottom: solid 10px transparent;
		border-left: solid 8px @color-bg-primary;
		position: absolute;
		right: (@layout-flow-horizontal / 2) + 3px;
		top: 50%;
		margin-top: ((@nav-item-computed-height - 20) / 2);
	}
}

.navigation__item--subnav--open {
	max-height: @nav-item-computed-height * 10;
	transition: max-height 0.4s ease;
	overflow: hidden;

	> .navigation--subnav {
		left: 0%;
		right: 0%;
	}
}

.navigation--subnav {
	position: absolute;
	left: 100%;
	right: -100%;
	top: 0px;
	transition: all 0.4s ease;
	background-color: @color-bg-primary;
	padding-top: @nav-item-computed-height;

	&:before {
		content: " ";
		position: absolute;
		border-top: solid 6px transparent;
		border-right: solid 6px @color-primary;
		border-bottom: solid 6px transparent;
		top: (@nav-item-computed-height / 2 - 3);
		left: (@layout-flow-horizontal / 2);
	}
}

//Overrides for larger displays subnavs are now drop-downs
@media (min-width: @screen-tablet-lower){

	.navigation__item {
		float: left;
	}

	.navigation--subnav {
		background-color: @color-bg-primary;
		border: solid 1px #eee;
		position: absolute;
		left: 0;
		display: none;
		top: @nav-item-computed-height;
		.navigation__item {
			display: block;
			float:none;
			white-space: nowrap;
		}
	}

	.navigation__item--subnav {
		padding-right: (@layout-flow-horizontal / 2 + 12px);
	}

	.navigation__item--subnav:hover, .navigation__item--subnav--open {

		&:after {
			border-top-color: @color-primary-darker;
		}

	 	> .navigation--subnav {
			display: block;
		}
	}

	//Overrides with specificity to allow for nested subnavs
	.navigation--subnav .navigation__item--subnav {
		&:after {
			border-top: solid 4px transparent;
			border-right: none;
			border-bottom: solid 4px transparent;
			border-left: solid 4px @color-primary;
			margin-top: -4px;
		}

		.navigation--subnav {
			left: 100%;
			top: 0px;

			&.navigation--drop-left {
				right: 100%;
				left: auto;
			}
		}
	}

	.navigation--drop-left {
		right: 0px;
		left: auto;
	}

}

@media (min-width: @screen-large-lower){

	.navigation__item--subnav {
		padding-right: (@layout-flow-horizontal-large / 2 + 12px);
	}

}