.navigation {
	.make-row();
}

.navigation__item {
	.make-row-content();
	float: none;

	cursor: pointer;
	line-height: 1em;
	color: @color-primary;
	padding-top: @nav-item-padding-vertical;
	padding-bottom: @nav-item-padding-vertical;

	&:hover {
		color: @color-primary-darker;
	}
}

//Overrides for larger displays subnavs are now drop-downs
@media (min-width: @screen-tablet-lower){

	.navigation__item {
		float: left;
	}

	.navigation--subnav {
		background-color: @color-bg-primary;
		border: solid 1px #eee;
		position: absolute;
		z-index: 1;
		left: 0;
		display: none;
		top: @nav-item-computed-height;
		.navigation__item {
			display: block;
			float:none;
			white-space: nowrap;
		}
	}

	.navigation__item--subnav {
		padding-right: (@layout-flow-horizontal / 2 + 12px);
		&:after {
			content: " ";
			border-top: solid 4px @color-primary;
			border-left: solid 4px transparent;
			border-right: solid 4px transparent;
			position: absolute;
			right: (@layout-flow-horizontal / 2);
			top: 50%;
		}
	}

	.navigation__item--subnav:hover, .navigation__item--subnav--open {

		&:after {
			border-top-color: @color-primary-darker;
		}

	 	> .navigation--subnav {
			display: block;
		}
	}

	//Overrides with specificity to allow for nested subnavs
	.navigation--subnav .navigation__item--subnav {
		&:after {
			border-top: solid 4px transparent;
			border-right: none;
			border-bottom: solid 4px transparent;
			border-left: solid 4px @color-primary;
			margin-top: -4px;
		}

		.navigation--subnav {
			left: 100%;
			top: 0px;

			&.navigation--drop-left {
				right: 100%;
				left: auto;
			}
		}
	}

	.navigation--drop-left {
		right: 0px;
		left: auto;
	}

}

@media (min-width: @screen-large-lower){

	.navigation__item--subnav {
		padding-right: (@layout-flow-horizontal-large / 2 + 12px);
	}

}