//-------------
// Colors
//-------------

@color-cyan: #1BA1E2;
@color-gray-semi-light: #b2b2b2;
@color-gray-dark: #333333;

@color-primary: @color-cyan;


//-------------
// Type
//-------------

@font-family-light: "Segoe UI semilight",Verdana,Helvetica,Sans-Serif;
@font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;

@font-size: 16px;
@font-size-large: @font-size * 1.5;
@font-size-larger: @font-size * 2;
@font-size-huge: @font-size * 4;

@font-size-page-title: @font-size-huge;

@line-height-page-title: 1.1em;


//-------------
// Grid
//-------------

// breakpoints
@screen-large-lower: 1200px;
@screen-desktop-lower: 980px;
@screen-tablet-lower: 768px;
@screen-phonetablet-lower: 480px;

@grid-columns: 12;

@grid-gutter-large: 30px;
@grid-gutter-desktop: 20px;
@grid-gutter-tablet: 20px;
@grid-gutter-phonetablet: 20px;
@grid-gutter-phone: 20px;

@row-max-large: (@screen-large-lower - @grid-gutter-large);
@row-max-desktop: (@screen-desktop-lower - @grid-gutter-desktop);


//-------------
// Modal
//-------------

@modal-zindex-base: 10;
@modal-vertical-flow: 20px;

//-------------
// Buttons
//-------------

@btn-padding-horizontal: 6px;
@btn-padding-vertical: 3px;
@btn-margin-horizontal: 6px;
@btn-margin-vertical: 3px;